<%# getting header content from /partials/header.ejs %> <%-
include("./partials/header.ejs") %>

<div class="class of section here">
  <div class="row main-content">
    <section class="py-5 text-center container">
      <h1>Content in this section</h1>
    </section>
    <div class="row secondary-content-row text-center">
      <div class="col-md-12">
        <h1>Another section here</h1>
      </div>
    </div>
  </div>
</div>

<%# getting footer from partials/footer.ejs %> <%-
include(`./partials/footer.ejs`) %>
