<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Homepage - Home Finder</title>
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home Finder</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/properties/all/">All Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search/">Search Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wishlist/">Wishlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/profile/u12340987">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link disabled"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  >Disabled</a
                >
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div id="content" class="container-fluid">
        <div class="property-listing-page">
          <div class="row main-content">
            <section class="py-5 text-center container">
              <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">Home Finder</h1>
                  <p class="lead text-muted">
                    Find properties to rent in the UK.
                  </p>
                  <p>
                    <a href="#" class="btn btn-primary my-2"
                      >View Featured Properties</a
                    >
                    <a href="#" class="btn btn-secondary my-2"
                      >Search Properties</a
                    >
                  </p>
                </div>
              </div>
            </section>
            <div class="row secondary-content-row text-center">
              <div class="col-md-12">
                <h1>Latest Properties</h1>
                <div class="row similar-properties-cards">
                  <div class="col-md-3 col-sm-6">
                    <div class="col-12 similar-properties-card">
                      <div class="property-image">
                        <img src="/assets/mockups/property-image.jpg" alt="" />
                      </div>
                      <div class="property-details">
                        <div class="rent-amount">GBP 2245</div>
                        <div class="rent-summary">2 bedroom flat to rent</div>
                        <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                        <div class="location-address">
                          Dickenson Road, Manchester M14
                        </div>
                        <div class="wishlist-property">Wishlist</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="col-12 similar-properties-card">
                      <div class="property-image">
                        <img src="/assets/mockups/property-image.jpg" alt="" />
                      </div>
                      <div class="property-details">
                        <div class="rent-amount">GBP 2245</div>
                        <div class="rent-summary">2 bedroom flat to rent</div>
                        <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                        <div class="location-address">
                          Dickenson Road, Manchester M14
                        </div>
                        <div class="wishlist-property">Wishlist</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="col-12 similar-properties-card">
                      <div class="property-image">
                        <img src="/assets/mockups/property-image.jpg" alt="" />
                      </div>
                      <div class="property-details">
                        <div class="rent-amount">GBP 2245</div>
                        <div class="rent-summary">2 bedroom flat to rent</div>
                        <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                        <div class="location-address">
                          Dickenson Road, Manchester M14
                        </div>
                        <div class="wishlist-property">Wishlist</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                    <div class="col-12 similar-properties-card">
                      <div class="property-image">
                        <img src="/assets/mockups/property-image.jpg" alt="" />
                      </div>
                      <div class="property-details">
                        <div class="rent-amount">GBP 2245</div>
                        <div class="rent-summary">2 bedroom flat to rent</div>
                        <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                        <div class="location-address">
                          Dickenson Road, Manchester M14
                        </div>
                        <div class="wishlist-property">Wishlist</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row secondary-content-row text-center">
            <div class="col-md-12">
              <h1>Secondary Footer</h1>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
