<%# getting header content from /partials/header.ejs %> <%-
include("./partials/header.ejs", {pageTitle: `Home Page`}) %>

<div class="property-listing-page">
  <div class="row main-content">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Home Finder</h1>
          <p class="lead text-muted">Find properties to rent in the UK.</p>
          <p>
            <a href="#" class="btn btn-primary my-2"
              >View Featured Properties</a
            >
            <a href="/search/" class="btn btn-secondary my-2"
              >Search Properties</a
            >
          </p>
        </div>
      </div>
    </section>
    <div class="row secondary-content-row text-center">
      <div class="col-md-12">
        <h1>Latest Properties</h1>
        <div class="row similar-properties-cards">
          <div class="col-md-3 col-sm-6">
            <div class="col-12 similar-properties-card">
              <div class="property-image">
                <img src="/assets/mockups/property-image.jpg" alt="" />
              </div>
              <div class="property-details">
                <div class="rent-amount">GBP 2245</div>
                <div class="rent-summary">2 bedroom flat to rent</div>
                <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                <div class="location-address">
                  Dickenson Road, Manchester M14
                </div>
                <div class="wishlist-property">Wishlist</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="col-12 similar-properties-card">
              <div class="property-image">
                <img src="/assets/mockups/property-image.jpg" alt="" />
              </div>
              <div class="property-details">
                <div class="rent-amount">GBP 2245</div>
                <div class="rent-summary">2 bedroom flat to rent</div>
                <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                <div class="location-address">
                  Dickenson Road, Manchester M14
                </div>
                <div class="wishlist-property">Wishlist</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="col-12 similar-properties-card">
              <div class="property-image">
                <img src="/assets/mockups/property-image.jpg" alt="" />
              </div>
              <div class="property-details">
                <div class="rent-amount">GBP 2245</div>
                <div class="rent-summary">2 bedroom flat to rent</div>
                <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                <div class="location-address">
                  Dickenson Road, Manchester M14
                </div>
                <div class="wishlist-property">Wishlist</div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="col-12 similar-properties-card">
              <div class="property-image">
                <img src="/assets/mockups/property-image.jpg" alt="" />
              </div>
              <div class="property-details">
                <div class="rent-amount">GBP 2245</div>
                <div class="rent-summary">2 bedroom flat to rent</div>
                <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                <div class="location-address">
                  Dickenson Road, Manchester M14
                </div>
                <div class="wishlist-property">Wishlist</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row secondary-content-row text-center">
    <div class="col-md-12">
      <h1>Secondary Footer</h1>
    </div>
  </div>
</div>

<%# getting footer from partials/footer.ejs %> <%-
include(`./partials/footer.ejs`, {additionalScripts: []}) %>
