<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1920, initial-scale=1.0" />
    <title>Project Components</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- HTML here -->
    <!-- START main container -->
    <div class="container-fluid">
      <div class="property-listing-page">
        <div class="page-header"></div>
        <div class="page-title-column">
          Properties in
          <div class="location-name">Manchester</div>
        </div>
        <div class="property-cards-column">
          <div class="property-list-card">
            <div class="property-image">
              <img src="/assets/mockups/property-image.jpg" alt="" />
            </div>
            <div class="property-primary-details">
              <div class="rent-details-row">
                <div class="rental-details">
                  <div class="rent-amount">GBP 2245</div>
                  <div class="rent-summary">2 bedroom flat to rent</div>
                  <div class="room-layout">2 Beds 2 Baths 1 Lounge</div>
                </div>
                <div class="agent-image">
                  <img src="/assets/mockups/agent-logo.jpg" alt="" />
                </div>
              </div>
              <div class="location-details-row">
                Dickenson Road, Manchester M14
              </div>
            </div>
            <div class="property-secondary-details">
              <div class="listing-date">Listed on 21 Nov 2021</div>
              <div class="availability-date">Available on 21 Nov 2021</div>
              <div class="agent-contact-number">Phone: 2455 885 125</div>
              <div class="wishlist-property">Wishlist</div>
            </div>
          </div>
        </div>
        <div class="secondary-content-row"></div>
        <div class="page-footer"></div>
      </div>
      <!-- START property card -->

      <!-- END property card -->
    </div>
    <!-- END main container -->
  </body>
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
