:root {
  --primary: #cbbbeb;
  --primary-light: #dbd3eb;
  --primary-dark: #716192;

  --secondary: #e6e6e6;
  --secondary-light: #f3f3f3;
  --secondary-dark: #929292;
}

body {
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* START BUTTONS */
.button {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.button:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.button-primary {
  background-color: var(--primary);
  color: rgb(22, 22, 22);
  font-weight: 700;
  border: 0.2rem solid var(--primary-dark);
}

.button-primary:hover {
  background-color: var(--primary-light);
  color: rgb(0, 0, 0);
}

.button-secondary {
  background-color: var(--secondary);
  color: rgb(22, 22, 22);
  font-weight: 700;
  border: 0.2rem solid var(--secondary-dark);
}

.button-secondary:hover {
  background-color: var(--secondary-light);
  color: rgb(0, 0, 0);
}
/* END BUTTONS */

/* START PROPERTY PAGE */

/* start property title card */
.property-title-card {
  color: inherit;
  width: 100%;
  margin: 0.01rem;
  padding: 2rem;
  background-color: rgb(241, 241, 241);
  line-height: 1.5;
}

.property-title-card .rent-amount {
  color: inherit;
}

.property-title-card .rent-amount span.rent-monthly {
  font-size: 2rem;
  font-weight: 900;
}

#rent-monthly-amount {
  color: inherit;
}

.property-title-card .rent-amount span.rent-weekly {
  font-size: 1.5rem;
  font-weight: 300;
}

#rent-weekly-amount {
  color: inherit;
}

#property-badge.badge {
  color: inherit;
}

.property-title-card .property-layout {
  color: inherit;
  font-weight: 700;
}

.property-title-card .property-location {
  color: inherit;
  font-weight: 300;
}

#area {
  color: inherit;
}

#city {
  color: inherit;
}

#postcode {
  color: inherit;
}
/* end property title card */

/* start property parameters row */
.property-parameters {
  color: inherit;
}

.property-parameters .property-type {
  color: inherit;
}

.property-parameters .property-parameter-title {
  text-transform: uppercase;
  font-weight: 300;
}

.property-parameters .property-parameter-detail {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

#type-detail {
  color: inherit;
}

.property-parameters .rooms {
  color: inherit;
}

#room-count {
  color: inherit;
}

.property-parameters .bathrooms {
  color: inherit;
}

#bathroom-count {
  color: inherit;
}

.property-parameters .size {
  color: inherit;
}

.property-parameters .size .size-sqft {
  color: inherit;
}

#sqft-units {
  color: inherit;
}

.property-parameters .size .size-sqm {
  color: inherit;
  font-weight: 300;
  font-size: 0.75rem;
}

#sqm-units {
  color: inherit;
}

.property-parameters .letting-type {
  color: inherit;
}

#let-type {
  color: inherit;
}

.property-parameters .furnish-type {
  color: inherit;
}

#furnish-type {
  color: inherit;
}
/* end property parameters row */

/* start property key features row */
.property-key-features {
  color: inherit;
}
/* end property key features row */

/* start property description row */
.property-description {
  color: inherit;
}

.property-description p {
  color: inherit;
  font-weight: 700;
  font-size: 1.1rem;
}
/* end property description row */

/* start property location map row */
.property-location-map {
  color: inherit;
}

#property-map {
  color: inherit;
}

#property-map img {
  color: inherit;
  width: 100%;
}
/* end property location map row */

/* start agent details row */
.agent-details {
  color: inherit;
}

#agent-name {
  font-size: 1.5rem;
  font-weight: 700;
}

#agent-address {
  font-size: 0.9rem;
  font-weight: 300;
}

#agent-details-logo {
  color: inherit;
}

#agent-details-logo img {
  width: 100%;
}

#agent-details-description {
  color: inherit;
}

/* end agent details row */
/* END PROPERTY PAGE */
